.typewriter-char {
  opacity: 0;
  transition: opacity var(--transition-delay-short)
    var(--transition-easing-ease);

  &.visible {
    opacity: 1;
  }
}

.typewriter {
  opacity: 0;

  &:has(> span) {
    opacity: 1;
  }
}
