button {
  background: none;
  color: var(--color-light);
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  position: relative;

  & > span {
    color: inherit;
  }

  &.three {
    font-size: 1rem;
    line-height: var(--line-height);
    padding: 0.5rem;
    top: 0;
    /* transition */
    opacity: 0;
    pointer-events: none;
    transform: translateY(1rem);
    transition: opacity var(--transition-delay-short)
        var(--transition-easing-cubic),
      transform var(--transition-delay-short) var(--transition-easing-cubic);

    &.ready {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);

      &.out {
        opacity: 0;
        padding-top: 1rem;
        pointer-events: none;
      }
    }

    &:hover {
      padding-top: 1rem;
    }
  }

  &[data-route] {
    align-items: center;
    display: flex;
    padding: 0 0 0 0.25rem;
    transition: background-color var(--transition-delay-short)
        var(--transition-easing-in-out),
      color var(--transition-delay-short) var(--transition-easing-in-out);
    width: 100%;

    &::before {
      background-color: var(--color-light);
      content: '';
      display: block;
      height: 1rem;
      margin-right: 0.75rem;
      mask-image: url('assets/images/icon-file.svg');
      mask-repeat: no-repeat;
      mask-size: contain;
      transition: background-color var(--transition-delay-short)
          var(--transition-easing-in-out),
        color var(--transition-delay-short) var(--transition-easing-in-out);
      width: 1rem;
    }

    &.active {
      background-color: var(--color-blue);
      color: var(--color-light);
    }

    &:hover:not(.active, :focus-visible) {
      background-color: var(--color-green);
      color: var(--color-light);
    }

    &:focus-visible {
      background-color: var(--color-yellow);
      color: var(--color-dark);
      outline: none;

      &::before {
        background-color: var(--color-dark);
      }
    }
  }
}
