body {
  border: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;

  & * {
    box-sizing: border-box;
  }
}

#app {
  display: flex;
  position: relative;
}

#scene,
#ui {
  left: 0;
  position: absolute;
  top: 0;
}

#scene {
  z-index: 1;
}

#ui {
  z-index: 2;
}

#app,
#scene,
#ui {
  height: 100%;
  width: 100%;
}
