html,
body {
  background: #212121;
}

body {
  border: 0;
  font-family: var(--font-family);
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;

  & * {
    box-sizing: border-box;
  }
}

#app {
  display: flex;
  position: relative;
}

#scene,
#ui,
.template-container {
  left: 0;
  position: absolute;
  top: 0;
}

#scene {
  z-index: 1;
}

#app,
#scene,
#ui,
.template-container {
  height: 100%;
  width: 100%;
}

body.ready {
  #ui {
    display: block;
    z-index: 2;
  }
}
